In [37]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
This Utility reads a csv data file and a csv mapping document and loads data into a table by using these two inputs.

Arguments Required in given order : [1] Source_data csv file, [2] Target_Table_name, [3] Mapping Document in csv format
Specifications for Target_Table_name : Please mention file name with proper schema 
Python calling Script example : Python Connection_dev.py 'Source_data.csv' 'Schema_name.Table_name' 'Mapping_Docuemnt.csv'
"""


import sys
import cx_Oracle 
import pandas as pd
import datetime
import string as str




file_name ="C:/Users/vavashishtha/OneDrive - PayPal/Python_Resume_Split/Alti_Resume_Analytics_Candidate_Scoring_dummy.xlsx"
#Target_Table_name = 'vaibhav'
#Mapping_name= 'Mapping.csv'


##file_name = sys.argv[1]
##Target_Table_name = sys.argv[2]
##Mapping_name= sys.argv[3]


df_excel = pd.read_excel(file_name)

s=df_excel['Candidate_Technical_Skills'].str.split(',').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'Candidate_Technical_Skills'
del df_excel['Candidate_Technical_Skills']

df_new=df_excel.join(s)
print(df_excel)

             Candidate_Name  \
0           Sunil Mylavaram
1  J.Balamurugan,15 Members
2                R.Yekshika
3               Sakthivel V
4           Sunil Mylavaram

                                  Candidate_Email_ID  Candidate_Phone_Number  \
0                           mylavaramsunil@gmail.com              9686963455
1                         balaramjayaraman@gmail.com              9188706917
2                                    asdjlkjsad12lkj              9944648759
3  sakthiece2011@gmail.com,email-sakthiece2011@gm...              9442667011
4                           mylavaramsunil@gmail.com              9686963455

  Candidate_Experience
0                    0
1                    0
2                [6.0]
3                    0
4                    0

In [38]:
df_new

,Candidate_Name,Candidate_Email_ID,Candidate_Phone_Number,Candidate_Experience,Candidate_Technical_Skills
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Oracle
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Sql
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Xml
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Unix
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Putty
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Core Java
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Svn
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Core Java
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Toad
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Sql Developer
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Transactions
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Tortoise
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Triggers
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Cursors
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Forms 10G
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Reports 10G
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Java
0,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Risk
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Oracle
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Classification
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Plsql
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Windows
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Sql Developer
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Triggers
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Forms 10G
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Reports 10G
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,Security
1,"J.Balamurugan,15 Members",balaramjayaraman@gmail.com,9188706917,0,C
2,R.Yekshika,asdjlkjsad12lkj,9944648759,[6.0],Oracle
2,R.Yekshika,asdjlkjsad12lkj,9944648759,[6.0],Sql
...,...,...,...,...,...
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Ml
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Nlp
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Netezza
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Teradata
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Neo4J
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Rest
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Bluemix
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Data Warehousing
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Sql Server
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Business Intelligence
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Data Modelling
3,Sakthivel V,"sakthiece2011@gmail.com,email-sakthiece2011@gm...",9442667011,0,Risk
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Oracle
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Sql
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Xml
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Unix
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Putty
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Core Java
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Svn
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Core Java
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Toad
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Sql Developer
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Transactions
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Tortoise
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Triggers
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Cursors
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Forms 10G
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Reports 10G
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Java
4,Sunil Mylavaram,mylavaramsunil@gmail.com,9686963455,0,Risk