In [82]:
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
dic_excel=df_excel.to_dict('series')
print(df_excel)
type(dic_excel)

    Sr.No.      FIRST_NAME             LAST_NAME  \
0        1        Arabinda                 Samal
1        2       Arunagiri           Ambalavanan
2        3       Arunkumar                     V
3        4           Ashok              Jayavelu
4        5          Barath                 Kumar
5        6         Dhinesh                 Kumar
6        7        Franklin              Gnanaraj
7        8     Harishkumar          Paneerselvam
8        9        Intimani                Kumari
9       10           James         Suriaprakasam
10      11         kavitha               kaliraj
11      12      Keerthisri          sundararajan
12      13  Lakshmikantham                    BV
13      14   Mallikharjuna            Pamulapati
14      15         Manohar              Narahari
15      16        Manpreet                 Walia
16      17       Meenakshi           RAJASEKARAN
17      18         Mohamed               Sajjath
18      19   Muthukrishnan  Thirugnanasambantham
19      20       Narasimha                  Gadi
20      21          Nikhil                  Gaur
21      22         Nivitha             Ilangovan
22      23          Noorul           AbdulMajeed
23      24          Prabhu          Sounderrajan
24      25     RajeshKumar            Kanniappan
25      26       Sakthivel         Vijayamoorthi
26      27       Sangeetha             Rajendran
27      28          Sarkar                Sarkar
28      29         Senthil          Sundararajan
29      30       Sivakumar              Veeranan
30      31           Sonia          Ravichandran
31      32       Srividhya               Ganesan
32      33        Subathra            Loganathan
33      34         Suganya        Vijayaraghavan
34      35         Sumathi                 Balan
35      36           Surya                Paleti
36      37         VAIBHAV            VASHISHTHA
37      38       Venkatesh            Andavarapu
38      39       Venkatesh          Ramachandran

                                  PAYPAL_NAME                 PAYPAL_EMAIL_ID  \
0                        Samal, Arabinda(AWF)             <asamal@paypal.com>
1                 Ambalavanan, Arunagiri(AWF)      <arambalavanan@paypal.com>
2                           V, Arunkumar(AWF)             <arunkv@paypal.com>
3                        Jayavelu, Ashok(AWF)          <ajayavelu@paypal.com>
4                          Kumar, Barath(AWF)          <barakumar@paypal.com>
5                         Kumar, Dhinesh(AWF)         <dhinekumar@paypal.com>
6                     Gnanaraj, Franklin(AWF)          <fgnanaraj@paypal.com>
7              Paneerselvam, Harishkumar(AWF)     <hpanneerselvam@paypal.com>
8                       Kumari, Intimani(AWF)           <inkumari@paypal.com>
9                   Suriaprakasam, James(AWF)       <jsuriaprakas@paypal.com>
10                      kaliraj, kavitha(AWF)           <kkaliraj@paypal.com>
11              sundararajan, Keerthisri(AWF)     <kesundararajan@paypal.com>
12                    BV, Lakshmikantham(AWF)               <labv@paypal.com>
13             Pamulapati, Mallikharjuna(AWF)        <mpamulapati@paypal.com>
14                     Narahari, Manohar(AWF)          <mnarahari@paypal.com>
15                       Walia, Manpreet(AWF)            <mkwalia@paypal.com>
16                RAJASEKARAN, Meenakshi(AWF)       <mrajasekaran@paypal.com>
17                      Sajjath, Mohamed(AWF)            <msajjat@paypal.com>
18   Thirugnanasambantham, Muthukrishnan(AWF)   <mthirugnanasamba@paypal.com>
19                       Gadi, Narasimha(AWF)              <ngadi@paypal.com>
20                          Gaur, Nikhil(AWF)             <nigaur@paypal.com>
21                    Ilangovan, Nivitha(AWF)        <niilangovan@paypal.com>
22                   AbdulMajeed, Noorul(AWF)       <nabdulmajeed@paypal.com>
23                  Sounderrajan, Prabhu(AWF)      <msounderrajan@paypal.com>
24               Kanniappan, RajeshKumar(AWF)       <rakanniappan@paypal.com>
25              Vijayamoorthi, Sakthivel(AWF)     <svijayamoorthi@paypal.com>
26                  Rajendran, Sangeetha(AWF)       <sanrajendran@paypal.com>
27                        Sarkar, Sarkar(AWF)           <sksarkar@paypal.com>
28           Sundararajan, Senthil Kumar(AWF)    <sensundararajan@paypal.com>
29                   Veeranan, Sivakumar(AWF)          <sveeranan@paypal.com>
30                   Ravichandran, Sonia(AWF)      <eravichandran@paypal.com>
31                    Ganesan, Srividhya(AWF)         <sriganesan@paypal.com>
32                  Loganathan, Subathra(AWF)      <subloganathan@paypal.com>
33               Vijayaraghavan, Suganya(AWF)   <suvijayaraghavan@paypal.com>
34                        Balan, Sumathi(AWF)           <sumbalan@paypal.com>
35                         Paleti, Surya(AWF)           <supaleti@paypal.com>
36                   VASHISHTHA, VAIBHAV(AWF)       <vavashishtha@paypal.com>
37                 Andavarapu, Venkatesh(AWF)        <vandavarapu@paypal.com>
38               Ramachandran, Venkatesh(AWF)     <veramachandran@paypal.com>

                                   Altimetrik_EmailID
0                               asamal@altimetrik.com
1                Arunagiri.Ambalavanan@altimetrik.com
2                       Arun.kumar4438@altimetrik.com
3                            ashivanna@altimetrik.com
4                         Bpandurangan@altimetrik.com
5                    dhinesh.kumar4181@altimetrik.com
6                    Franklin.Gnanaraj@altimetrik.com
7                        Harishkumar.p@altimetrik.com
8                              ikumari@altimetrik.com
9                       Jsuriaprakasam@altimetrik.com
10                            kkaliraj@altimetrik.com
11             keerthisri.sundararajan@altimetrik.com
12      lakshmikantham.venkatakrishnan@altimetrik.com
13            pamulapati.mallikharjuna@altimetrik.com
14                    manohar.narahari@altimetrik.com
15                      Manpreet.Walia@altimetrik.com
16                        mrajasekaran@altimetrik.com
17                     mohamed.sajjath@altimetrik.com
18  muthukrishnan.thirugnanasambantham@altimetrik.com
19                    gadi.narasimhulu@altimetrik.com
20                               ngaur@altimetrik.com
21                   nivitha.ilangovan@altimetrik.com
22                             nmajeed@altimetrik.com
23                              prajan@altimetrik.com
24                         rkanniappan@altimetrik.com
25                      svijayamoorthi@altimetrik.com
26                      srajendran3637@altimetrik.com
27                             ssarkar@altimetrik.com
28                       ssundararajan@altimetrik.com
29                       ssundararajan@altimetrik.com
30                       ERavichandran@altimetrik.com
31                   Srividhya.Ganesan@altimetrik.com
32                 subathra.loganathan@altimetrik.com
33              suganya.vijayaraghavan@altimetrik.com
34                              SBalan@altimetrik.com
35                        surya.paleti@altimetrik.com
36                  vaibhav.vashishtha@altimetrik.com
37                venkatesh.krishnarao@altimetrik.com
38             Venkadesan.Ramachandran@altimetrik.com

dict

In [6]:
dic_excel['FIRST_NAME'].tolist()

['Arabinda',
 'Arunagiri',
 'Arunkumar',
 'Ashok',
 'Barath',
 'Dhinesh',
 'Franklin',
 'Harishkumar',
 'Intimani',
 'James',
 'kavitha',
 'Keerthisri',
 'Lakshmikantham',
 'Mallikharjuna',
 'Manohar',
 'Manpreet',
 'Meenakshi',
 'Mohamed',
 'Muthukrishnan',
 'Narasimha',
 'Nikhil',
 'Nivitha',
 'Noorul',
 'Prabhu',
 'RajeshKumar',
 'Sakthivel',
 'Sangeetha',
 'Sarkar',
 'Senthil',
 'Sivakumar',
 'Sonia',
 'Srividhya',
 'Subathra',
 'Suganya',
 'Sumathi',
 'Surya',
 'VAIBHAV',
 'Venkatesh',
 'Venkatesh']

In [7]:
dic_excel.values.tolist()

AttributeError: 'builtin_function_or_method' object has no attribute 'tolist'

In [10]:
df_excel.tolist()

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [11]:
lol = df_excel.values.tolist()

In [12]:
print(lol)

[[1, 'Arabinda', 'Samal', ' Samal, Arabinda(AWF)', ' <asamal@paypal.com>', 'asamal@altimetrik.com'], [2, 'Arunagiri', 'Ambalavanan', ' Ambalavanan, Arunagiri(AWF)', ' <arambalavanan@paypal.com>', 'Arunagiri.Ambalavanan@altimetrik.com'], [3, 'Arunkumar', 'V', ' V, Arunkumar(AWF)', ' <arunkv@paypal.com>', 'Arun.kumar4438@altimetrik.com'], [4, 'Ashok', 'Jayavelu', ' Jayavelu, Ashok(AWF)', ' <ajayavelu@paypal.com>', 'ashivanna@altimetrik.com'], [5, 'Barath', 'Kumar', ' Kumar, Barath(AWF)', ' <barakumar@paypal.com>', 'Bpandurangan@altimetrik.com'], [6, 'Dhinesh', 'Kumar', ' Kumar, Dhinesh(AWF)', ' <dhinekumar@paypal.com>', 'dhinesh.kumar4181@altimetrik.com'], [7, 'Franklin', 'Gnanaraj', ' Gnanaraj, Franklin(AWF)', ' <fgnanaraj@paypal.com>', 'Franklin.Gnanaraj@altimetrik.com'], [8, 'Harishkumar', 'Paneerselvam', ' Paneerselvam, Harishkumar(AWF)', ' <hpanneerselvam@paypal.com>', 'Harishkumar.p@altimetrik.com'], [9, 'Intimani', 'Kumari', ' Kumari, Intimani(AWF)', ' <inkumari@paypal.com>', 'ikumari@altimetrik.com'], [10, 'James', 'Suriaprakasam', ' Suriaprakasam, James(AWF)', ' <jsuriaprakas@paypal.com>', 'Jsuriaprakasam@altimetrik.com'], [11, 'kavitha', 'kaliraj', ' kaliraj, kavitha(AWF)', ' <kkaliraj@paypal.com>', 'kkaliraj@altimetrik.com'], [12, 'Keerthisri', 'sundararajan', ' sundararajan, Keerthisri(AWF)', ' <kesundararajan@paypal.com>', 'keerthisri.sundararajan@altimetrik.com'], [13, 'Lakshmikantham', 'BV', ' BV, Lakshmikantham(AWF)', ' <labv@paypal.com>', 'lakshmikantham.venkatakrishnan@altimetrik.com'], [14, 'Mallikharjuna', 'Pamulapati', ' Pamulapati, Mallikharjuna(AWF)', ' <mpamulapati@paypal.com>', 'pamulapati.mallikharjuna@altimetrik.com'], [15, 'Manohar', 'Narahari', ' Narahari, Manohar(AWF)', ' <mnarahari@paypal.com>', 'manohar.narahari@altimetrik.com'], [16, 'Manpreet', 'Walia', ' Walia, Manpreet(AWF)', ' <mkwalia@paypal.com>', 'Manpreet.Walia@altimetrik.com'], [17, 'Meenakshi', 'RAJASEKARAN', ' RAJASEKARAN, Meenakshi(AWF)', ' <mrajasekaran@paypal.com>', 'mrajasekaran@altimetrik.com'], [18, 'Mohamed', 'Sajjath', ' Sajjath, Mohamed(AWF)', ' <msajjat@paypal.com>', 'mohamed.sajjath@altimetrik.com'], [19, 'Muthukrishnan', 'Thirugnanasambantham', ' Thirugnanasambantham, Muthukrishnan(AWF)', ' <mthirugnanasamba@paypal.com>', 'muthukrishnan.thirugnanasambantham@altimetrik.com'], [20, 'Narasimha', 'Gadi', ' Gadi, Narasimha(AWF)', ' <ngadi@paypal.com>', 'gadi.narasimhulu@altimetrik.com'], [21, 'Nikhil', 'Gaur', ' Gaur, Nikhil(AWF)', ' <nigaur@paypal.com>', 'ngaur@altimetrik.com'], [22, 'Nivitha', 'Ilangovan', ' Ilangovan, Nivitha(AWF)', ' <niilangovan@paypal.com>', 'nivitha.ilangovan@altimetrik.com'], [23, 'Noorul', 'AbdulMajeed', ' AbdulMajeed, Noorul(AWF)', ' <nabdulmajeed@paypal.com>', 'nmajeed@altimetrik.com'], [24, 'Prabhu', 'Sounderrajan', ' Sounderrajan, Prabhu(AWF)', ' <msounderrajan@paypal.com>', 'prajan@altimetrik.com'], [25, 'RajeshKumar', 'Kanniappan', ' Kanniappan, RajeshKumar(AWF)', ' <rakanniappan@paypal.com>', 'rkanniappan@altimetrik.com'], [26, 'Sakthivel', 'Vijayamoorthi', ' Vijayamoorthi, Sakthivel(AWF)', ' <svijayamoorthi@paypal.com>', 'svijayamoorthi@altimetrik.com'], [27, 'Sangeetha', 'Rajendran', ' Rajendran, Sangeetha(AWF)', ' <sanrajendran@paypal.com>', 'srajendran3637@altimetrik.com'], [28, 'Sarkar', 'Sarkar', ' Sarkar, Sarkar(AWF)', ' <sksarkar@paypal.com>', 'ssarkar@altimetrik.com'], [29, 'Senthil', 'Sundararajan', ' Sundararajan, Senthil Kumar(AWF)', ' <sensundararajan@paypal.com>', 'ssundararajan@altimetrik.com'], [30, 'Sivakumar', 'Veeranan', ' Veeranan, Sivakumar(AWF)', ' <sveeranan@paypal.com>', 'ssundararajan@altimetrik.com'], [31, 'Sonia', 'Ravichandran', ' Ravichandran, Sonia(AWF)', ' <eravichandran@paypal.com>', 'ERavichandran@altimetrik.com'], [32, 'Srividhya', 'Ganesan', ' Ganesan, Srividhya(AWF)', ' <sriganesan@paypal.com>', 'Srividhya.Ganesan@altimetrik.com'], [33, 'Subathra', 'Loganathan', ' Loganathan, Subathra(AWF)', ' <subloganathan@paypal.com>', 'subathra.loganathan@altimetrik.com'], [34, 'Suganya', 'Vijayaraghavan', ' Vijayaraghavan, Suganya(AWF)', ' <suvijayaraghavan@paypal.com>', 'suganya.vijayaraghavan@altimetrik.com'], [35, 'Sumathi', 'Balan', ' Balan, Sumathi(AWF)', ' <sumbalan@paypal.com>', 'SBalan@altimetrik.com'], [36, 'Surya', 'Paleti', ' Paleti, Surya(AWF)', ' <supaleti@paypal.com>', 'surya.paleti@altimetrik.com'], [37, 'VAIBHAV', 'VASHISHTHA', ' VASHISHTHA, VAIBHAV(AWF)', ' <vavashishtha@paypal.com>', 'vaibhav.vashishtha@altimetrik.com'], [38, 'Venkatesh', 'Andavarapu', ' Andavarapu, Venkatesh(AWF)', ' <vandavarapu@paypal.com>', 'venkatesh.krishnarao@altimetrik.com'], [39, 'Venkatesh', 'Ramachandran', ' Ramachandran, Venkatesh(AWF)', ' <veramachandran@paypal.com>', 'Venkadesan.Ramachandran@altimetrik.com']]

In [13]:
print(dic_excel)
type(dic_excel)

{'Sr.No.': 0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
Name: Sr.No., dtype: int64, 'FIRST_NAME': 0           Arabinda
1          Arunagiri
2          Arunkumar
3              Ashok
4             Barath
5            Dhinesh
6           Franklin
7        Harishkumar
8           Intimani
9              James
10           kavitha
11        Keerthisri
12    Lakshmikantham
13     Mallikharjuna
14           Manohar
15          Manpreet
16         Meenakshi
17           Mohamed
18     Muthukrishnan
19         Narasimha
20            Nikhil
21           Nivitha
22            Noorul
23            Prabhu
24       RajeshKumar
25         Sakthivel
26         Sangeetha
27            Sarkar
28           Senthil
29         Sivakumar
30             Sonia
31         Srividhya
32          Subathra
33           Suganya
34           Sumathi
35             Surya
36           VAIBHAV
37         Venkatesh
38         Venkatesh
Name: FIRST_NAME, dtype: object, 'LAST_NAME': 0                    Samal
1              Ambalavanan
2                        V
3                 Jayavelu
4                    Kumar
5                    Kumar
6                 Gnanaraj
7             Paneerselvam
8                   Kumari
9            Suriaprakasam
10                 kaliraj
11            sundararajan
12                      BV
13              Pamulapati
14                Narahari
15                   Walia
16             RAJASEKARAN
17                 Sajjath
18    Thirugnanasambantham
19                    Gadi
20                    Gaur
21               Ilangovan
22             AbdulMajeed
23            Sounderrajan
24              Kanniappan
25           Vijayamoorthi
26               Rajendran
27                  Sarkar
28            Sundararajan
29                Veeranan
30            Ravichandran
31                 Ganesan
32              Loganathan
33          Vijayaraghavan
34                   Balan
35                  Paleti
36              VASHISHTHA
37              Andavarapu
38            Ramachandran
Name: LAST_NAME, dtype: object, 'PAYPAL_NAME': 0                          Samal, Arabinda(AWF)
1                   Ambalavanan, Arunagiri(AWF)
2                             V, Arunkumar(AWF)
3                          Jayavelu, Ashok(AWF)
4                            Kumar, Barath(AWF)
5                           Kumar, Dhinesh(AWF)
6                       Gnanaraj, Franklin(AWF)
7                Paneerselvam, Harishkumar(AWF)
8                         Kumari, Intimani(AWF)
9                     Suriaprakasam, James(AWF)
10                        kaliraj, kavitha(AWF)
11                sundararajan, Keerthisri(AWF)
12                      BV, Lakshmikantham(AWF)
13               Pamulapati, Mallikharjuna(AWF)
14                       Narahari, Manohar(AWF)
15                         Walia, Manpreet(AWF)
16                  RAJASEKARAN, Meenakshi(AWF)
17                        Sajjath, Mohamed(AWF)
18     Thirugnanasambantham, Muthukrishnan(AWF)
19                         Gadi, Narasimha(AWF)
20                            Gaur, Nikhil(AWF)
21                      Ilangovan, Nivitha(AWF)
22                     AbdulMajeed, Noorul(AWF)
23                    Sounderrajan, Prabhu(AWF)
24                 Kanniappan, RajeshKumar(AWF)
25                Vijayamoorthi, Sakthivel(AWF)
26                    Rajendran, Sangeetha(AWF)
27                          Sarkar, Sarkar(AWF)
28             Sundararajan, Senthil Kumar(AWF)
29                     Veeranan, Sivakumar(AWF)
30                     Ravichandran, Sonia(AWF)
31                      Ganesan, Srividhya(AWF)
32                    Loganathan, Subathra(AWF)
33                 Vijayaraghavan, Suganya(AWF)
34                          Balan, Sumathi(AWF)
35                           Paleti, Surya(AWF)
36                     VASHISHTHA, VAIBHAV(AWF)
37                   Andavarapu, Venkatesh(AWF)
38                 Ramachandran, Venkatesh(AWF)
Name: PAYPAL_NAME, dtype: object, 'PAYPAL_EMAIL_ID': 0                <asamal@paypal.com>
1         <arambalavanan@paypal.com>
2                <arunkv@paypal.com>
3             <ajayavelu@paypal.com>
4             <barakumar@paypal.com>
5            <dhinekumar@paypal.com>
6             <fgnanaraj@paypal.com>
7        <hpanneerselvam@paypal.com>
8              <inkumari@paypal.com>
9          <jsuriaprakas@paypal.com>
10             <kkaliraj@paypal.com>
11       <kesundararajan@paypal.com>
12                 <labv@paypal.com>
13          <mpamulapati@paypal.com>
14            <mnarahari@paypal.com>
15              <mkwalia@paypal.com>
16         <mrajasekaran@paypal.com>
17              <msajjat@paypal.com>
18     <mthirugnanasamba@paypal.com>
19                <ngadi@paypal.com>
20               <nigaur@paypal.com>
21          <niilangovan@paypal.com>
22         <nabdulmajeed@paypal.com>
23        <msounderrajan@paypal.com>
24         <rakanniappan@paypal.com>
25       <svijayamoorthi@paypal.com>
26         <sanrajendran@paypal.com>
27             <sksarkar@paypal.com>
28      <sensundararajan@paypal.com>
29            <sveeranan@paypal.com>
30        <eravichandran@paypal.com>
31           <sriganesan@paypal.com>
32        <subloganathan@paypal.com>
33     <suvijayaraghavan@paypal.com>
34             <sumbalan@paypal.com>
35             <supaleti@paypal.com>
36         <vavashishtha@paypal.com>
37          <vandavarapu@paypal.com>
38       <veramachandran@paypal.com>
Name: PAYPAL_EMAIL_ID, dtype: object, 'Altimetrik_EmailID': 0                                 asamal@altimetrik.com
1                  Arunagiri.Ambalavanan@altimetrik.com
2                         Arun.kumar4438@altimetrik.com
3                              ashivanna@altimetrik.com
4                           Bpandurangan@altimetrik.com
5                      dhinesh.kumar4181@altimetrik.com
6                      Franklin.Gnanaraj@altimetrik.com
7                          Harishkumar.p@altimetrik.com
8                                ikumari@altimetrik.com
9                         Jsuriaprakasam@altimetrik.com
10                              kkaliraj@altimetrik.com
11               keerthisri.sundararajan@altimetrik.com
12        lakshmikantham.venkatakrishnan@altimetrik.com
13              pamulapati.mallikharjuna@altimetrik.com
14                      manohar.narahari@altimetrik.com
15                        Manpreet.Walia@altimetrik.com
16                          mrajasekaran@altimetrik.com
17                       mohamed.sajjath@altimetrik.com
18    muthukrishnan.thirugnanasambantham@altimetrik.com
19                      gadi.narasimhulu@altimetrik.com
20                                 ngaur@altimetrik.com
21                     nivitha.ilangovan@altimetrik.com
22                               nmajeed@altimetrik.com
23                                prajan@altimetrik.com
24                           rkanniappan@altimetrik.com
25                        svijayamoorthi@altimetrik.com
26                        srajendran3637@altimetrik.com
27                               ssarkar@altimetrik.com
28                         ssundararajan@altimetrik.com
29                         ssundararajan@altimetrik.com
30                         ERavichandran@altimetrik.com
31                     Srividhya.Ganesan@altimetrik.com
32                   subathra.loganathan@altimetrik.com
33                suganya.vijayaraghavan@altimetrik.com
34                                SBalan@altimetrik.com
35                          surya.paleti@altimetrik.com
36                    vaibhav.vashishtha@altimetrik.com
37                  venkatesh.krishnarao@altimetrik.com
38               Venkadesan.Ramachandran@altimetrik.com
Name: Altimetrik_EmailID, dtype: object}

dict

In [14]:
import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);

In [15]:
import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()

In [16]:
databaseName = "DATATREK"
print('vaibhav')
conn_str = 'etlapp/etlappstg@lvsspldb16.qa.paypal.com:2127/QADBAA9O'
try:
    conn = cx_Oracle.connect(conn_str)
except cx_Oracle.DatabaseError as exception:
  printf ('Failed to connect to %s\n',databaseName)
  printException (exception)
  exit(0)   

c = conn.cursor()
sql = """select * from Alti_PayPal_Mapping"""

vaibhav

In [20]:
c.execute("""
        insert into Alti_PayPal_Mapping (SR_NO, PAYPALE_NAME, PAYPAL_EMAIL_ID,LASTNAME,FIRSTNAME,ALTIMETRIK_EMAIL_ID)
        values (:Sr.No.,:FIRST_NAME,:LAST_NAME,:PAYPAL_NAME,:PAYPAL_EMAIL_ID,:Altimetrik_EmailID)""", {'Sr.No.':'1','FIRST_NAME':'Vaibhav','LAST_NAME':'VASHISHTHA','PAYPAL_NAME':'VAVA','PAYPAL_EMAIL_ID':'VAVASHISHTHA@PAYPAL.COM','Altimetrik_EmailID':'VVASHISHTHA@ALTIMETRIK.COM'})

DatabaseError: ORA-01036: illegal variable name/number

In [23]:
c.execute("""
        insert into Alti_PayPal_Mapping (SR_NO,FIRSTNAME,LASTNAME,PAYPALE_NAME,PAYPAL_EMAIL_ID,ALTIMETRIK_EMAIL_ID)
        values (:1,:2,:3,:4,:PAYPAL_EMAIL_ID,:Altimetrik_EmailID)""", {'Sr_No':'1','FIRST_NAME':'Vaibhav','LAST_NAME':'VASHISHTHA','PAYPAL_NAME':'VAVA','PAYPAL_EMAIL_ID':'VAVASHISHTHA@PAYPAL.COM','Altimetrik_EmailID':'VVASHISHTHA@ALTIMETRIK.COM'})

In [24]:
c.execute("""
        insert into Alti_PayPal_Mapping (SR_NO,FIRSTNAME,LASTNAME,PAYPALE_NAME,PAYPAL_EMAIL_ID,ALTIMETRIK_EMAIL_ID)
        values (:1,:2,:3,:4,:5,:6)""", ('1','Vaibhav','VASHISHTHA','VAVA','VAVASHISHTHA@PAYPAL.COM','VVASHISHTHA@ALTIMETRIK.COM'))

In [25]:
conn.commit()

In [29]:
list(df_excel)

['Sr.No.',
 'FIRST_NAME',
 'LAST_NAME',
 'PAYPAL_NAME',
 'PAYPAL_EMAIL_ID',
 'Altimetrik_EmailID']

In [6]:
df_excel1 = pd.read_excel('Mapping.xlsx', sheet_name=sheets_name)

In [7]:
print(df_excel1)
print(df_excel)

   Source_Column_Name  Target_Column_Name
0              Sr.No.              Sr.No.
1          FIRST_NAME          FIRST_NAME
2           LAST_NAME           LAST_NAME
3         PAYPAL_NAME         PAYPAL_NAME
4     PAYPAL_EMAIL_ID     PAYPAL_EMAIL_ID
5  Altimetrik_EmailID  Altimetrik_EmailID
    Sr.No.      FIRST_NAME             LAST_NAME  \
0        1        Arabinda                 Samal
1        2       Arunagiri           Ambalavanan
2        3       Arunkumar                     V
3        4           Ashok              Jayavelu
4        5          Barath                 Kumar
5        6         Dhinesh                 Kumar
6        7        Franklin              Gnanaraj
7        8     Harishkumar          Paneerselvam
8        9        Intimani                Kumari
9       10           James         Suriaprakasam
10      11         kavitha               kaliraj
11      12      Keerthisri          sundararajan
12      13  Lakshmikantham                    BV
13      14   Mallikharjuna            Pamulapati
14      15         Manohar              Narahari
15      16        Manpreet                 Walia
16      17       Meenakshi           RAJASEKARAN
17      18         Mohamed               Sajjath
18      19   Muthukrishnan  Thirugnanasambantham
19      20       Narasimha                  Gadi
20      21          Nikhil                  Gaur
21      22         Nivitha             Ilangovan
22      23          Noorul           AbdulMajeed
23      24          Prabhu          Sounderrajan
24      25     RajeshKumar            Kanniappan
25      26       Sakthivel         Vijayamoorthi
26      27       Sangeetha             Rajendran
27      28          Sarkar                Sarkar
28      29         Senthil          Sundararajan
29      30       Sivakumar              Veeranan
30      31           Sonia          Ravichandran
31      32       Srividhya               Ganesan
32      33        Subathra            Loganathan
33      34         Suganya        Vijayaraghavan
34      35         Sumathi                 Balan
35      36           Surya                Paleti
36      37         VAIBHAV            VASHISHTHA
37      38       Venkatesh            Andavarapu
38      39       Venkatesh          Ramachandran

                                  PAYPAL_NAME                 PAYPAL_EMAIL_ID  \
0                        Samal, Arabinda(AWF)             <asamal@paypal.com>
1                 Ambalavanan, Arunagiri(AWF)      <arambalavanan@paypal.com>
2                           V, Arunkumar(AWF)             <arunkv@paypal.com>
3                        Jayavelu, Ashok(AWF)          <ajayavelu@paypal.com>
4                          Kumar, Barath(AWF)          <barakumar@paypal.com>
5                         Kumar, Dhinesh(AWF)         <dhinekumar@paypal.com>
6                     Gnanaraj, Franklin(AWF)          <fgnanaraj@paypal.com>
7              Paneerselvam, Harishkumar(AWF)     <hpanneerselvam@paypal.com>
8                       Kumari, Intimani(AWF)           <inkumari@paypal.com>
9                   Suriaprakasam, James(AWF)       <jsuriaprakas@paypal.com>
10                      kaliraj, kavitha(AWF)           <kkaliraj@paypal.com>
11              sundararajan, Keerthisri(AWF)     <kesundararajan@paypal.com>
12                    BV, Lakshmikantham(AWF)               <labv@paypal.com>
13             Pamulapati, Mallikharjuna(AWF)        <mpamulapati@paypal.com>
14                     Narahari, Manohar(AWF)          <mnarahari@paypal.com>
15                       Walia, Manpreet(AWF)            <mkwalia@paypal.com>
16                RAJASEKARAN, Meenakshi(AWF)       <mrajasekaran@paypal.com>
17                      Sajjath, Mohamed(AWF)            <msajjat@paypal.com>
18   Thirugnanasambantham, Muthukrishnan(AWF)   <mthirugnanasamba@paypal.com>
19                       Gadi, Narasimha(AWF)              <ngadi@paypal.com>
20                          Gaur, Nikhil(AWF)             <nigaur@paypal.com>
21                    Ilangovan, Nivitha(AWF)        <niilangovan@paypal.com>
22                   AbdulMajeed, Noorul(AWF)       <nabdulmajeed@paypal.com>
23                  Sounderrajan, Prabhu(AWF)      <msounderrajan@paypal.com>
24               Kanniappan, RajeshKumar(AWF)       <rakanniappan@paypal.com>
25              Vijayamoorthi, Sakthivel(AWF)     <svijayamoorthi@paypal.com>
26                  Rajendran, Sangeetha(AWF)       <sanrajendran@paypal.com>
27                        Sarkar, Sarkar(AWF)           <sksarkar@paypal.com>
28           Sundararajan, Senthil Kumar(AWF)    <sensundararajan@paypal.com>
29                   Veeranan, Sivakumar(AWF)          <sveeranan@paypal.com>
30                   Ravichandran, Sonia(AWF)      <eravichandran@paypal.com>
31                    Ganesan, Srividhya(AWF)         <sriganesan@paypal.com>
32                  Loganathan, Subathra(AWF)      <subloganathan@paypal.com>
33               Vijayaraghavan, Suganya(AWF)   <suvijayaraghavan@paypal.com>
34                        Balan, Sumathi(AWF)           <sumbalan@paypal.com>
35                         Paleti, Surya(AWF)           <supaleti@paypal.com>
36                   VASHISHTHA, VAIBHAV(AWF)       <vavashishtha@paypal.com>
37                 Andavarapu, Venkatesh(AWF)        <vandavarapu@paypal.com>
38               Ramachandran, Venkatesh(AWF)     <veramachandran@paypal.com>

                                   Altimetrik_EmailID
0                               asamal@altimetrik.com
1                Arunagiri.Ambalavanan@altimetrik.com
2                       Arun.kumar4438@altimetrik.com
3                            ashivanna@altimetrik.com
4                         Bpandurangan@altimetrik.com
5                    dhinesh.kumar4181@altimetrik.com
6                    Franklin.Gnanaraj@altimetrik.com
7                        Harishkumar.p@altimetrik.com
8                              ikumari@altimetrik.com
9                       Jsuriaprakasam@altimetrik.com
10                            kkaliraj@altimetrik.com
11             keerthisri.sundararajan@altimetrik.com
12      lakshmikantham.venkatakrishnan@altimetrik.com
13            pamulapati.mallikharjuna@altimetrik.com
14                    manohar.narahari@altimetrik.com
15                      Manpreet.Walia@altimetrik.com
16                        mrajasekaran@altimetrik.com
17                     mohamed.sajjath@altimetrik.com
18  muthukrishnan.thirugnanasambantham@altimetrik.com
19                    gadi.narasimhulu@altimetrik.com
20                               ngaur@altimetrik.com
21                   nivitha.ilangovan@altimetrik.com
22                             nmajeed@altimetrik.com
23                              prajan@altimetrik.com
24                         rkanniappan@altimetrik.com
25                      svijayamoorthi@altimetrik.com
26                      srajendran3637@altimetrik.com
27                             ssarkar@altimetrik.com
28                       ssundararajan@altimetrik.com
29                       ssundararajan@altimetrik.com
30                       ERavichandran@altimetrik.com
31                   Srividhya.Ganesan@altimetrik.com
32                 subathra.loganathan@altimetrik.com
33              suganya.vijayaraghavan@altimetrik.com
34                              SBalan@altimetrik.com
35                        surya.paleti@altimetrik.com
36                  vaibhav.vashishtha@altimetrik.com
37                venkatesh.krishnarao@altimetrik.com
38             Venkadesan.Ramachandran@altimetrik.com

In [10]:
for loop_var in df_excel1.index:
    print(df_excel1.iat[loop_var,1])
    print('Vaibhav \n')

Sr.No.
Vaibhav

FIRST_NAME
Vaibhav

LAST_NAME
Vaibhav

PAYPAL_NAME
Vaibhav

PAYPAL_EMAIL_ID
Vaibhav

Altimetrik_EmailID
Vaibhav

In [22]:
set().intersection()

{'Altimetrik_EmailID',
 'FIRST_NAME',
 'LAST_NAME',
 'PAYPAL_EMAIL_ID',
 'PAYPAL_NAME',
 'Sr.No.'}

In [23]:
list(df_excel)

['Sr.No.',
 'FIRST_NAME',
 'LAST_NAME',
 'PAYPAL_NAME',
 'PAYPAL_EMAIL_ID',
 'Altimetrik_EmailID']

In [24]:
df_excel1['Target_Column_Name'].tolist()

['Sr.No.',
 'FIRST_NAME',
 'LAST_NAME',
 'PAYPAL_NAME',
 'PAYPAL_EMAIL_ID',
 'Altimetrik_EmailID']

In [28]:
Excel_column_list=list(df_excel)
Mapping_column_list=df_excel1['Excel_Column_Name'].tolist()

KeyError: 'Excel_Column_Name'

In [45]:
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
print(Excel_column_list)
print(Mapping_column_list)

for item1 in Excel_column_list:
    for item2 in Mapping_column_list:
        if (item1==item2):
            print(Mapping_column_list.index(item2))

['Sr.No.', 'FIRST_NAME', 'LAST_NAME', 'PAYPAL_NAME', 'PAYPAL_EMAIL_ID', 'Altimetrik_EmailID']
['Sr.No.', 'LAST_NAME', 'FIRST_NAME', 'LAST_NAME', 'PAYPAL_NAME', 'PAYPAL_EMAIL_ID', 'Altimetrik_EmailID']
0
2
1
1
4
5
6

In [47]:
list_index=[]
for item1 in Mapping_column_list:
    for item2 in Excel_column_list:
        if (item1==item2):
            list_index.append(Excel_column_list.index(item2)+1)

print(list_index)

[1, 3, 2, 3, 4, 5, 6]

In [66]:
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

In [67]:
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2)+1)

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)

In [68]:
print(Table_Column_Name)

['SR_NO', 'FIRSTNAME', 'LASTNAME', 'PAYPALE_NAME', 'PAYPAL_EMAIL_ID', 'ALTIMETRIK_EMAIL_ID']

In [72]:
sql = """select * from Alti_PayPal_Mapping"""

Sql_execute="insert into Alti_PayPal_Mapping ("
for j in Table_Column_Name:
    Sql_execute=Sql_execute+str(j)+', '
Sql_execute = Sql_execute[:-2]    
Sql_execute=Sql_execute+' ) values ('
for i in ls_index:
    Sql_execute=Sql_execute+':'+str(i)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' )'

In [73]:
print(Sql_execute)

insert into Alti_PayPal_Mapping (SR_NO, FIRSTNAME, LASTNAME, PAYPALE_NAME, PAYPAL_EMAIL_ID, ALTIMETRIK_EMAIL_ID ) values (:1, :3, :2, :4, :5, :6 )

In [80]:
print(lol[:3])

[[1, 'Arabinda', 'Samal', ' Samal, Arabinda(AWF)', ' <asamal@paypal.com>', 'asamal@altimetrik.com'], [2, 'Arunagiri', 'Ambalavanan', ' Ambalavanan, Arunagiri(AWF)', ' <arambalavanan@paypal.com>', 'Arunagiri.Ambalavanan@altimetrik.com'], [3, 'Arunkumar', 'V', ' V, Arunkumar(AWF)', ' <arunkv@paypal.com>', 'Arun.kumar4438@altimetrik.com']]

In [78]:
print(lol)

[[1, 'Arabinda', 'Samal', ' Samal, Arabinda(AWF)', ' <asamal@paypal.com>', 'asamal@altimetrik.com'], [2, 'Arunagiri', 'Ambalavanan', ' Ambalavanan, Arunagiri(AWF)', ' <arambalavanan@paypal.com>', 'Arunagiri.Ambalavanan@altimetrik.com'], [3, 'Arunkumar', 'V', ' V, Arunkumar(AWF)', ' <arunkv@paypal.com>', 'Arun.kumar4438@altimetrik.com'], [4, 'Ashok', 'Jayavelu', ' Jayavelu, Ashok(AWF)', ' <ajayavelu@paypal.com>', 'ashivanna@altimetrik.com'], [5, 'Barath', 'Kumar', ' Kumar, Barath(AWF)', ' <barakumar@paypal.com>', 'Bpandurangan@altimetrik.com'], [6, 'Dhinesh', 'Kumar', ' Kumar, Dhinesh(AWF)', ' <dhinekumar@paypal.com>', 'dhinesh.kumar4181@altimetrik.com'], [7, 'Franklin', 'Gnanaraj', ' Gnanaraj, Franklin(AWF)', ' <fgnanaraj@paypal.com>', 'Franklin.Gnanaraj@altimetrik.com'], [8, 'Harishkumar', 'Paneerselvam', ' Paneerselvam, Harishkumar(AWF)', ' <hpanneerselvam@paypal.com>', 'Harishkumar.p@altimetrik.com'], [9, 'Intimani', 'Kumari', ' Kumari, Intimani(AWF)', ' <inkumari@paypal.com>', 'ikumari@altimetrik.com'], [10, 'James', 'Suriaprakasam', ' Suriaprakasam, James(AWF)', ' <jsuriaprakas@paypal.com>', 'Jsuriaprakasam@altimetrik.com'], [11, 'kavitha', 'kaliraj', ' kaliraj, kavitha(AWF)', ' <kkaliraj@paypal.com>', 'kkaliraj@altimetrik.com'], [12, 'Keerthisri', 'sundararajan', ' sundararajan, Keerthisri(AWF)', ' <kesundararajan@paypal.com>', 'keerthisri.sundararajan@altimetrik.com'], [13, 'Lakshmikantham', 'BV', ' BV, Lakshmikantham(AWF)', ' <labv@paypal.com>', 'lakshmikantham.venkatakrishnan@altimetrik.com'], [14, 'Mallikharjuna', 'Pamulapati', ' Pamulapati, Mallikharjuna(AWF)', ' <mpamulapati@paypal.com>', 'pamulapati.mallikharjuna@altimetrik.com'], [15, 'Manohar', 'Narahari', ' Narahari, Manohar(AWF)', ' <mnarahari@paypal.com>', 'manohar.narahari@altimetrik.com'], [16, 'Manpreet', 'Walia', ' Walia, Manpreet(AWF)', ' <mkwalia@paypal.com>', 'Manpreet.Walia@altimetrik.com'], [17, 'Meenakshi', 'RAJASEKARAN', ' RAJASEKARAN, Meenakshi(AWF)', ' <mrajasekaran@paypal.com>', 'mrajasekaran@altimetrik.com'], [18, 'Mohamed', 'Sajjath', ' Sajjath, Mohamed(AWF)', ' <msajjat@paypal.com>', 'mohamed.sajjath@altimetrik.com'], [19, 'Muthukrishnan', 'Thirugnanasambantham', ' Thirugnanasambantham, Muthukrishnan(AWF)', ' <mthirugnanasamba@paypal.com>', 'muthukrishnan.thirugnanasambantham@altimetrik.com'], [20, 'Narasimha', 'Gadi', ' Gadi, Narasimha(AWF)', ' <ngadi@paypal.com>', 'gadi.narasimhulu@altimetrik.com'], [21, 'Nikhil', 'Gaur', ' Gaur, Nikhil(AWF)', ' <nigaur@paypal.com>', 'ngaur@altimetrik.com'], [22, 'Nivitha', 'Ilangovan', ' Ilangovan, Nivitha(AWF)', ' <niilangovan@paypal.com>', 'nivitha.ilangovan@altimetrik.com'], [23, 'Noorul', 'AbdulMajeed', ' AbdulMajeed, Noorul(AWF)', ' <nabdulmajeed@paypal.com>', 'nmajeed@altimetrik.com'], [24, 'Prabhu', 'Sounderrajan', ' Sounderrajan, Prabhu(AWF)', ' <msounderrajan@paypal.com>', 'prajan@altimetrik.com'], [25, 'RajeshKumar', 'Kanniappan', ' Kanniappan, RajeshKumar(AWF)', ' <rakanniappan@paypal.com>', 'rkanniappan@altimetrik.com'], [26, 'Sakthivel', 'Vijayamoorthi', ' Vijayamoorthi, Sakthivel(AWF)', ' <svijayamoorthi@paypal.com>', 'svijayamoorthi@altimetrik.com'], [27, 'Sangeetha', 'Rajendran', ' Rajendran, Sangeetha(AWF)', ' <sanrajendran@paypal.com>', 'srajendran3637@altimetrik.com'], [28, 'Sarkar', 'Sarkar', ' Sarkar, Sarkar(AWF)', ' <sksarkar@paypal.com>', 'ssarkar@altimetrik.com'], [29, 'Senthil', 'Sundararajan', ' Sundararajan, Senthil Kumar(AWF)', ' <sensundararajan@paypal.com>', 'ssundararajan@altimetrik.com'], [30, 'Sivakumar', 'Veeranan', ' Veeranan, Sivakumar(AWF)', ' <sveeranan@paypal.com>', 'ssundararajan@altimetrik.com'], [31, 'Sonia', 'Ravichandran', ' Ravichandran, Sonia(AWF)', ' <eravichandran@paypal.com>', 'ERavichandran@altimetrik.com'], [32, 'Srividhya', 'Ganesan', ' Ganesan, Srividhya(AWF)', ' <sriganesan@paypal.com>', 'Srividhya.Ganesan@altimetrik.com'], [33, 'Subathra', 'Loganathan', ' Loganathan, Subathra(AWF)', ' <subloganathan@paypal.com>', 'subathra.loganathan@altimetrik.com'], [34, 'Suganya', 'Vijayaraghavan', ' Vijayaraghavan, Suganya(AWF)', ' <suvijayaraghavan@paypal.com>', 'suganya.vijayaraghavan@altimetrik.com'], [35, 'Sumathi', 'Balan', ' Balan, Sumathi(AWF)', ' <sumbalan@paypal.com>', 'SBalan@altimetrik.com'], [36, 'Surya', 'Paleti', ' Paleti, Surya(AWF)', ' <supaleti@paypal.com>', 'surya.paleti@altimetrik.com'], [37, 'VAIBHAV', 'VASHISHTHA', ' VASHISHTHA, VAIBHAV(AWF)', ' <vavashishtha@paypal.com>', 'vaibhav.vashishtha@altimetrik.com'], [38, 'Venkatesh', 'Andavarapu', ' Andavarapu, Venkatesh(AWF)', ' <vandavarapu@paypal.com>', 'venkatesh.krishnarao@altimetrik.com'], [39, 'Venkatesh', 'Ramachandran', ' Ramachandran, Venkatesh(AWF)', ' <veramachandran@paypal.com>', 'Venkadesan.Ramachandran@altimetrik.com']]

In [84]:
cols = df_excel.columns.tolist()

In [85]:
cols

['Sr.No.',
 'FIRST_NAME',
 'LAST_NAME',
 'PAYPAL_NAME',
 'PAYPAL_EMAIL_ID',
 'Altimetrik_EmailID']

In [86]:
cols = cols[-1:] + cols[:-1]

In [87]:
cols

['Altimetrik_EmailID',
 'Sr.No.',
 'FIRST_NAME',
 'LAST_NAME',
 'PAYPAL_NAME',
 'PAYPAL_EMAIL_ID']

In [89]:
df_excel = df_excel[cols]

In [90]:
df_excel

,Altimetrik_EmailID,Sr.No.,FIRST_NAME,LAST_NAME,PAYPAL_NAME,PAYPAL_EMAIL_ID
0,asamal@altimetrik.com,1,Arabinda,Samal,"Samal, Arabinda(AWF)",<asamal@paypal.com>
1,Arunagiri.Ambalavanan@altimetrik.com,2,Arunagiri,Ambalavanan,"Ambalavanan, Arunagiri(AWF)",<arambalavanan@paypal.com>
2,Arun.kumar4438@altimetrik.com,3,Arunkumar,V,"V, Arunkumar(AWF)",<arunkv@paypal.com>
3,ashivanna@altimetrik.com,4,Ashok,Jayavelu,"Jayavelu, Ashok(AWF)",<ajayavelu@paypal.com>
4,Bpandurangan@altimetrik.com,5,Barath,Kumar,"Kumar, Barath(AWF)",<barakumar@paypal.com>
5,dhinesh.kumar4181@altimetrik.com,6,Dhinesh,Kumar,"Kumar, Dhinesh(AWF)",<dhinekumar@paypal.com>
6,Franklin.Gnanaraj@altimetrik.com,7,Franklin,Gnanaraj,"Gnanaraj, Franklin(AWF)",<fgnanaraj@paypal.com>
7,Harishkumar.p@altimetrik.com,8,Harishkumar,Paneerselvam,"Paneerselvam, Harishkumar(AWF)",<hpanneerselvam@paypal.com>
8,ikumari@altimetrik.com,9,Intimani,Kumari,"Kumari, Intimani(AWF)",<inkumari@paypal.com>
9,Jsuriaprakasam@altimetrik.com,10,James,Suriaprakasam,"Suriaprakasam, James(AWF)",<jsuriaprakas@paypal.com>
10,kkaliraj@altimetrik.com,11,kavitha,kaliraj,"kaliraj, kavitha(AWF)",<kkaliraj@paypal.com>
11,keerthisri.sundararajan@altimetrik.com,12,Keerthisri,sundararajan,"sundararajan, Keerthisri(AWF)",<kesundararajan@paypal.com>
12,lakshmikantham.venkatakrishnan@altimetrik.com,13,Lakshmikantham,BV,"BV, Lakshmikantham(AWF)",<labv@paypal.com>
13,pamulapati.mallikharjuna@altimetrik.com,14,Mallikharjuna,Pamulapati,"Pamulapati, Mallikharjuna(AWF)",<mpamulapati@paypal.com>
14,manohar.narahari@altimetrik.com,15,Manohar,Narahari,"Narahari, Manohar(AWF)",<mnarahari@paypal.com>
15,Manpreet.Walia@altimetrik.com,16,Manpreet,Walia,"Walia, Manpreet(AWF)",<mkwalia@paypal.com>
16,mrajasekaran@altimetrik.com,17,Meenakshi,RAJASEKARAN,"RAJASEKARAN, Meenakshi(AWF)",<mrajasekaran@paypal.com>
17,mohamed.sajjath@altimetrik.com,18,Mohamed,Sajjath,"Sajjath, Mohamed(AWF)",<msajjat@paypal.com>
18,muthukrishnan.thirugnanasambantham@altimetrik.com,19,Muthukrishnan,Thirugnanasambantham,"Thirugnanasambantham, Muthukrishnan(AWF)",<mthirugnanasamba@paypal.com>
19,gadi.narasimhulu@altimetrik.com,20,Narasimha,Gadi,"Gadi, Narasimha(AWF)",<ngadi@paypal.com>
20,ngaur@altimetrik.com,21,Nikhil,Gaur,"Gaur, Nikhil(AWF)",<nigaur@paypal.com>
21,nivitha.ilangovan@altimetrik.com,22,Nivitha,Ilangovan,"Ilangovan, Nivitha(AWF)",<niilangovan@paypal.com>
22,nmajeed@altimetrik.com,23,Noorul,AbdulMajeed,"AbdulMajeed, Noorul(AWF)",<nabdulmajeed@paypal.com>
23,prajan@altimetrik.com,24,Prabhu,Sounderrajan,"Sounderrajan, Prabhu(AWF)",<msounderrajan@paypal.com>
24,rkanniappan@altimetrik.com,25,RajeshKumar,Kanniappan,"Kanniappan, RajeshKumar(AWF)",<rakanniappan@paypal.com>
25,svijayamoorthi@altimetrik.com,26,Sakthivel,Vijayamoorthi,"Vijayamoorthi, Sakthivel(AWF)",<svijayamoorthi@paypal.com>
26,srajendran3637@altimetrik.com,27,Sangeetha,Rajendran,"Rajendran, Sangeetha(AWF)",<sanrajendran@paypal.com>
27,ssarkar@altimetrik.com,28,Sarkar,Sarkar,"Sarkar, Sarkar(AWF)",<sksarkar@paypal.com>
28,ssundararajan@altimetrik.com,29,Senthil,Sundararajan,"Sundararajan, Senthil Kumar(AWF)",<sensundararajan@paypal.com>
29,ssundararajan@altimetrik.com,30,Sivakumar,Veeranan,"Veeranan, Sivakumar(AWF)",<sveeranan@paypal.com>
30,ERavichandran@altimetrik.com,31,Sonia,Ravichandran,"Ravichandran, Sonia(AWF)",<eravichandran@paypal.com>
31,Srividhya.Ganesan@altimetrik.com,32,Srividhya,Ganesan,"Ganesan, Srividhya(AWF)",<sriganesan@paypal.com>
32,subathra.loganathan@altimetrik.com,33,Subathra,Loganathan,"Loganathan, Subathra(AWF)",<subloganathan@paypal.com>
33,suganya.vijayaraghavan@altimetrik.com,34,Suganya,Vijayaraghavan,"Vijayaraghavan, Suganya(AWF)",<suvijayaraghavan@paypal.com>
34,SBalan@altimetrik.com,35,Sumathi,Balan,"Balan, Sumathi(AWF)",<sumbalan@paypal.com>
35,surya.paleti@altimetrik.com,36,Surya,Paleti,"Paleti, Surya(AWF)",<supaleti@paypal.com>
36,vaibhav.vashishtha@altimetrik.com,37,VAIBHAV,VASHISHTHA,"VASHISHTHA, VAIBHAV(AWF)",<vavashishtha@paypal.com>
37,venkatesh.krishnarao@altimetrik.com,38,Venkatesh,Andavarapu,"Andavarapu, Venkatesh(AWF)",<vandavarapu@paypal.com>
38,Venkadesan.Ramachandran@altimetrik.com,39,Venkatesh,Ramachandran,"Ramachandran, Venkatesh(AWF)",<veramachandran@paypal.com>

In [11]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is for DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)

In [12]:
ls_index

[0, 2, 1, 3, 4, 5]

In [13]:
ls_cols = df_excel.columns.tolist()

In [19]:
ls_col_list=[]

In [20]:
for j in ls_index:
    ls_col_list.append(ls_cols[j])

In [21]:
ls_col_list

['Sr.No.',
 'LAST_NAME',
 'FIRST_NAME',
 'PAYPAL_NAME',
 'PAYPAL_EMAIL_ID',
 'Altimetrik_EmailID']

In [22]:
df_excel = df_excel[ls_col_list]

In [23]:
df_excel

,Sr.No.,LAST_NAME,FIRST_NAME,PAYPAL_NAME,PAYPAL_EMAIL_ID,Altimetrik_EmailID
0,1,Samal,Arabinda,"Samal, Arabinda(AWF)",<asamal@paypal.com>,asamal@altimetrik.com
1,2,Ambalavanan,Arunagiri,"Ambalavanan, Arunagiri(AWF)",<arambalavanan@paypal.com>,Arunagiri.Ambalavanan@altimetrik.com
2,3,V,Arunkumar,"V, Arunkumar(AWF)",<arunkv@paypal.com>,Arun.kumar4438@altimetrik.com
3,4,Jayavelu,Ashok,"Jayavelu, Ashok(AWF)",<ajayavelu@paypal.com>,ashivanna@altimetrik.com
4,5,Kumar,Barath,"Kumar, Barath(AWF)",<barakumar@paypal.com>,Bpandurangan@altimetrik.com
5,6,Kumar,Dhinesh,"Kumar, Dhinesh(AWF)",<dhinekumar@paypal.com>,dhinesh.kumar4181@altimetrik.com
6,7,Gnanaraj,Franklin,"Gnanaraj, Franklin(AWF)",<fgnanaraj@paypal.com>,Franklin.Gnanaraj@altimetrik.com
7,8,Paneerselvam,Harishkumar,"Paneerselvam, Harishkumar(AWF)",<hpanneerselvam@paypal.com>,Harishkumar.p@altimetrik.com
8,9,Kumari,Intimani,"Kumari, Intimani(AWF)",<inkumari@paypal.com>,ikumari@altimetrik.com
9,10,Suriaprakasam,James,"Suriaprakasam, James(AWF)",<jsuriaprakas@paypal.com>,Jsuriaprakasam@altimetrik.com
10,11,kaliraj,kavitha,"kaliraj, kavitha(AWF)",<kkaliraj@paypal.com>,kkaliraj@altimetrik.com
11,12,sundararajan,Keerthisri,"sundararajan, Keerthisri(AWF)",<kesundararajan@paypal.com>,keerthisri.sundararajan@altimetrik.com
12,13,BV,Lakshmikantham,"BV, Lakshmikantham(AWF)",<labv@paypal.com>,lakshmikantham.venkatakrishnan@altimetrik.com
13,14,Pamulapati,Mallikharjuna,"Pamulapati, Mallikharjuna(AWF)",<mpamulapati@paypal.com>,pamulapati.mallikharjuna@altimetrik.com
14,15,Narahari,Manohar,"Narahari, Manohar(AWF)",<mnarahari@paypal.com>,manohar.narahari@altimetrik.com
15,16,Walia,Manpreet,"Walia, Manpreet(AWF)",<mkwalia@paypal.com>,Manpreet.Walia@altimetrik.com
16,17,RAJASEKARAN,Meenakshi,"RAJASEKARAN, Meenakshi(AWF)",<mrajasekaran@paypal.com>,mrajasekaran@altimetrik.com
17,18,Sajjath,Mohamed,"Sajjath, Mohamed(AWF)",<msajjat@paypal.com>,mohamed.sajjath@altimetrik.com
18,19,Thirugnanasambantham,Muthukrishnan,"Thirugnanasambantham, Muthukrishnan(AWF)",<mthirugnanasamba@paypal.com>,muthukrishnan.thirugnanasambantham@altimetrik.com
19,20,Gadi,Narasimha,"Gadi, Narasimha(AWF)",<ngadi@paypal.com>,gadi.narasimhulu@altimetrik.com
20,21,Gaur,Nikhil,"Gaur, Nikhil(AWF)",<nigaur@paypal.com>,ngaur@altimetrik.com
21,22,Ilangovan,Nivitha,"Ilangovan, Nivitha(AWF)",<niilangovan@paypal.com>,nivitha.ilangovan@altimetrik.com
22,23,AbdulMajeed,Noorul,"AbdulMajeed, Noorul(AWF)",<nabdulmajeed@paypal.com>,nmajeed@altimetrik.com
23,24,Sounderrajan,Prabhu,"Sounderrajan, Prabhu(AWF)",<msounderrajan@paypal.com>,prajan@altimetrik.com
24,25,Kanniappan,RajeshKumar,"Kanniappan, RajeshKumar(AWF)",<rakanniappan@paypal.com>,rkanniappan@altimetrik.com
25,26,Vijayamoorthi,Sakthivel,"Vijayamoorthi, Sakthivel(AWF)",<svijayamoorthi@paypal.com>,svijayamoorthi@altimetrik.com
26,27,Rajendran,Sangeetha,"Rajendran, Sangeetha(AWF)",<sanrajendran@paypal.com>,srajendran3637@altimetrik.com
27,28,Sarkar,Sarkar,"Sarkar, Sarkar(AWF)",<sksarkar@paypal.com>,ssarkar@altimetrik.com
28,29,Sundararajan,Senthil,"Sundararajan, Senthil Kumar(AWF)",<sensundararajan@paypal.com>,ssundararajan@altimetrik.com
29,30,Veeranan,Sivakumar,"Veeranan, Sivakumar(AWF)",<sveeranan@paypal.com>,ssundararajan@altimetrik.com
30,31,Ravichandran,Sonia,"Ravichandran, Sonia(AWF)",<eravichandran@paypal.com>,ERavichandran@altimetrik.com
31,32,Ganesan,Srividhya,"Ganesan, Srividhya(AWF)",<sriganesan@paypal.com>,Srividhya.Ganesan@altimetrik.com
32,33,Loganathan,Subathra,"Loganathan, Subathra(AWF)",<subloganathan@paypal.com>,subathra.loganathan@altimetrik.com
33,34,Vijayaraghavan,Suganya,"Vijayaraghavan, Suganya(AWF)",<suvijayaraghavan@paypal.com>,suganya.vijayaraghavan@altimetrik.com
34,35,Balan,Sumathi,"Balan, Sumathi(AWF)",<sumbalan@paypal.com>,SBalan@altimetrik.com
35,36,Paleti,Surya,"Paleti, Surya(AWF)",<supaleti@paypal.com>,surya.paleti@altimetrik.com
36,37,VASHISHTHA,VAIBHAV,"VASHISHTHA, VAIBHAV(AWF)",<vavashishtha@paypal.com>,vaibhav.vashishtha@altimetrik.com
37,38,Andavarapu,Venkatesh,"Andavarapu, Venkatesh(AWF)",<vandavarapu@paypal.com>,venkatesh.krishnarao@altimetrik.com
38,39,Ramachandran,Venkatesh,"Ramachandran, Venkatesh(AWF)",<veramachandran@paypal.com>,Venkadesan.Ramachandran@altimetrik.com

In [1]:
Sql_execute="insert into Alti_PayPal_Mapping ("
for j in Table_Column_Name:
    Sql_execute=Sql_execute+str(j)+', '
Sql_execute = Sql_execute[:-2]    
Sql_execute=Sql_execute+' ) values ('
for i in ls_index:
    Sql_execute=Sql_execute+':'+str(i)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' )'

print(Sql_execute)

NameError: name 'Table_Column_Name' is not defined

In [2]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is for DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2)+1)

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)
ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    ls_col_list.append(ls_cols[j])
    
df_excel = df_excel[ls_col_list]

IndexError: list index out of range

In [3]:
ls_index

[1, 3, 2, 4, 5, 6]

In [4]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is for DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)
ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    ls_col_list.append(ls_cols[j])
    
df_excel = df_excel[ls_col_list]

In [4]:
databaseName = "DATATREK"
print('vaibhav')
conn_str = 'etlapp/etlappstg@lvsspldb16.qa.paypal.com:2127/QADBAA9O'
try:
    conn = cx_Oracle.connect(conn_str)
except cx_Oracle.DatabaseError as exception:
  printf ('Failed to connect to %s\n',databaseName)
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is for DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)
ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    ls_col_list.append(ls_cols[j])
    
df_excel = df_excel[ls_col_list]  printException (exception)
  exit(0)   
c = conn.cursor()

SyntaxError: invalid syntax (<ipython-input-4-0cef5585ef9f>, line 58)

In [5]:

# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is for DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)
ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    ls_col_list.append(ls_cols[j])
    
df_excel = df_excel[ls_col_list]

Sql_execute="insert into Alti_PayPal_Mapping ("
for j in Table_Column_Name:
    Sql_execute=Sql_execute+str(j)+', '
Sql_execute = Sql_execute[:-2]    
Sql_execute=Sql_execute+' ) values ('
for i in ls_index:
    Sql_execute=Sql_execute+':'+str(i)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' )'

print(Sql_execute)

insert into Alti_PayPal_Mapping (SR_NO, FIRSTNAME, LASTNAME, PAYPALE_NAME, PAYPAL_EMAIL_ID, ALTIMETRIK_EMAIL_ID ) values (:0, :2, :1, :3, :4, :5 )

In [6]:
Sql_execute

'insert into Alti_PayPal_Mapping (SR_NO, FIRSTNAME, LASTNAME, PAYPALE_NAME, PAYPAL_EMAIL_ID, ALTIMETRIK_EMAIL_ID ) values (:0, :2, :1, :3, :4, :5 )'

In [2]:

# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is for DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)

dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  for item1 in List2:
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))

  return list_index

ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)
ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    ls_col_list.append(ls_cols[j])
    
df_excel = df_excel[ls_col_list]

Sql_execute="insert into Alti_PayPal_Mapping ("
for j in Table_Column_Name:
    Sql_execute=Sql_execute+str(j)+', '
Sql_execute = Sql_execute[:-2]    
Sql_execute=Sql_execute+' ) values ('
for i in ls_index:
    Sql_execute=Sql_execute+':'+str(i)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' )'

print(Sql_execute)    
databaseName = "DATATREK"
print('vaibhav')
conn_str = 'etlapp/etlappstg@lvsspldb16.qa.paypal.com:2127/QADBAA9O'
try:
    conn = cx_Oracle.connect(conn_str)
except cx_Oracle.DatabaseError as exception:
  printf ('Failed to connect to %s\n',databaseName)
  printException (exception)
  exit(0)

insert into Alti_PayPal_Mapping (SR_NO, FIRSTNAME, LASTNAME, PAYPALE_NAME, PAYPAL_EMAIL_ID, ALTIMETRIK_EMAIL_ID ) values (:0, :2, :1, :3, :4, :5 )
vaibhav
Failed to connect to DATATREK
Error code = 12514
Error message = ORA-12514: TNS:listener does not currently know of service requested in connect descriptor

In [1]:
pandas.to_datetime('01-01-2001')

NameError: name 'pd' is not defined

In [6]:
import pandas as pd
pd.to_datetime('13-11-2001')

Timestamp('2001-11-13 00:00:00')

In [2]:
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is foaasdr DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)
df_excel['NaN']=float('NAN')
dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);
  
def CompareTwoList(List1,List2):
  list_index=[]
  flag_available=1
  for item1 in List2:
    flag_available=1
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))
            flag_available=0
    if (flag_available==1):
        list_index.append(-1) 

  return list_index


ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)
  

ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    if(j==100):
        ls_col_list.append('NaN')
    else:
        ls_col_list.append(ls_cols[j])
    
df_excel = df_excel[ls_col_list]

Sql_execute="insert into Alti_PayPal_Mapping ("
for j in Table_Column_Name:
    Sql_execute=Sql_execute+str(j)+', '
Sql_execute = Sql_execute[:-2]    
Sql_execute=Sql_execute+' ) values ('
for i in ls_index:
    Sql_execute=Sql_execute+':'+str(i)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' )'

    
print(Sql_execute)    
print(df_excel.head())

insert into Alti_PayPal_Mapping (SR_NO, FIRSTNAME, LASTNAME, New_NAME, PAYPALE_NAME, PAYPAL_EMAIL_ID, ALTIMETRIK_EMAIL_ID ) values (:0, :2, :1, :-1, :3, :4, :5 )
   Sr.No.    LAST_NAME FIRST_NAME  NaN                   PAYPAL_NAME  \
0       1        Samal   Arabinda  NaN          Samal, Arabinda(AWF)
1       2  Ambalavanan  Arunagiri  NaN   Ambalavanan, Arunagiri(AWF)
2       3            V  Arunkumar  NaN             V, Arunkumar(AWF)
3       4     Jayavelu      Ashok  NaN          Jayavelu, Ashok(AWF)
4       5        Kumar     Barath  NaN            Kumar, Barath(AWF)

               PAYPAL_EMAIL_ID                    Altimetrik_EmailID
0          <asamal@paypal.com>                 asamal@altimetrik.com
1   <arambalavanan@paypal.com>  Arunagiri.Ambalavanan@altimetrik.com
2          <arunkv@paypal.com>         Arun.kumar4438@altimetrik.com
3       <ajayavelu@paypal.com>              ashivanna@altimetrik.com
4       <barakumar@paypal.com>           Bpandurangan@altimetrik.com

In [43]:
import pandas as pd

file_name='source_data.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping.xlsx'

df_excel12 = pd.read_excel(file_name, sheet_name=sheets_name)

In [44]:
ls_columns = df_excel12.columns.tolist()

In [45]:
ls_columns.append('Vaibhav')

In [46]:
print(ls_columns)

['Sr.No.', 'FIRST_NAME', 'LAST_NAME', 'PAYPAL_NAME', 'PAYPAL_EMAIL_ID', 'Altimetrik_EmailID', 'Vaibhav']

In [55]:
df_excel12['NaN']=float('NAN')

In [56]:
print(df_excel12.head())

   Sr.No. FIRST_NAME    LAST_NAME                   PAYPAL_NAME  \
0       1   Arabinda        Samal          Samal, Arabinda(AWF)
1       2  Arunagiri  Ambalavanan   Ambalavanan, Arunagiri(AWF)
2       3  Arunkumar            V             V, Arunkumar(AWF)
3       4      Ashok     Jayavelu          Jayavelu, Ashok(AWF)
4       5     Barath        Kumar            Kumar, Barath(AWF)

               PAYPAL_EMAIL_ID                    Altimetrik_EmailID  NaN
0          <asamal@paypal.com>                 asamal@altimetrik.com  NaN
1   <arambalavanan@paypal.com>  Arunagiri.Ambalavanan@altimetrik.com  NaN
2          <arunkv@paypal.com>         Arun.kumar4438@altimetrik.com  NaN
3       <ajayavelu@paypal.com>              ashivanna@altimetrik.com  NaN
4       <barakumar@paypal.com>           Bpandurangan@altimetrik.com  NaN

In [2]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jan 23 15:59:23 2019

@author: vavashishtha
this is foaasdr DATAtrek
"""


import sys
import cx_Oracle
import pandas as pd

file_name='source_data_test.xlsx'#sys.argv[1]
sheets_name='Sheet1'#sys.argv[2]
Mapping_name='Mapping_test.xlsx'

df_excel = pd.read_excel(file_name, sheet_name=sheets_name)
df_Mapping=pd.read_excel(Mapping_name, sheet_name=sheets_name)
df_excel['NaN']=float('NAN')
dic_excel=df_excel.to_dict('series')
lol = df_excel.values.tolist()
Excel_column_list=list(df_excel)
Mapping_column_list=df_Mapping['Excel_Column_Name'].tolist()
Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()

def printf (format,*args):
    sys.stdout.write (format % args)

def printException (exception):
  error, = exception.args
  printf ("Error code = %s\n",error.code);
  printf ("Error message = %s\n",error.message);

def CompareTwoList(List1,List2):
  list_index=[]
  flag_available=1
  for item1 in List2:
    flag_available=1
    for item2 in List1:
        if (item1==item2):
            list_index.append(List1.index(item2))
            flag_available=0
    if (flag_available==1):
        list_index.append(-1)

  return list_index


ls_index=CompareTwoList(Excel_column_list,Mapping_column_list)


ls_cols = df_excel.columns.tolist()
ls_col_list=[]

for j in ls_index:
    if(j==100):
        ls_col_list.append('NaN')
    else:
        ls_col_list.append(ls_cols[j])

df_excel = df_excel[ls_col_list]

Sql_execute="insert into Alti_PayPal_Mapping ("
for j in Table_Column_Name:
    Sql_execute=Sql_execute+str(j)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' ) values ('
for i in ls_index:
    Sql_execute=Sql_execute+':'+str(i)+', '
Sql_execute = Sql_execute[:-2]
Sql_execute=Sql_execute+' )'

#username = 'scott'
#password = 'tiger'
databaseName = "DATATREK"
print('vaibhav')
conn_str = 'etlapp/Et1$ppJDEV654456@janatadev'
#try:
#    conn = cx_Oracle.connect(conn_str)
#except cx_Oracle.DatabaseError as exception:
#  printf ('Failed to connect to %s\n',databaseName)
##  printException (exception)
#  exit(0)

#c = conn.cursor()
sql = """select * from Alti_PayPal_Mapping"""



print(df_excel)


#c.executemany(Sql_execute, lol, batcherrors = True)
#for errorObj in c.getbatcherrors():
#    print("Row", errorObj.offset, "has error", errorObj.message)






#try:
  #  print(conn.version.split("."))
   # c.execute(sql)

#except cx_Oracle.DatabaseError as exception:
 # printf ('Failed to select from Alti_PayPal_Mapping\n')
 # printException (exception)
 # exit(0)

#result=c.fetchall()
#for row in result:
#  printf (" %s;%s;%s\n",row[0],row[1],row[2])
#conn.commit()
#conn.close()

vaibhav
    Sr.No.             LAST_NAME      FIRST_NAME  \
0        1                 Samal        Arabinda
1        2           Ambalavanan       Arunagiri
2        3                     V       Arunkumar
3        4              Jayavelu           Ashok
4        5                 Kumar          Barath
5        6                 Kumar         Dhinesh
6        7              Gnanaraj        Franklin
7        8          Paneerselvam     Harishkumar
8        9                Kumari        Intimani
9       10         Suriaprakasam           James
10      11               kaliraj         kavitha
11      12          sundararajan      Keerthisri
12      13                    BV  Lakshmikantham
13      14            Pamulapati   Mallikharjuna
14      15              Narahari         Manohar
15      16                 Walia        Manpreet
16      17           RAJASEKARAN       Meenakshi
17      18               Sajjath         Mohamed
18      19  Thirugnanasambantham   Muthukrishnan
19      20                  Gadi       Narasimha
20      21                  Gaur          Nikhil
21      22             Ilangovan         Nivitha
22      23           AbdulMajeed          Noorul
23      24          Sounderrajan          Prabhu
24      25            Kanniappan     RajeshKumar
25      26         Vijayamoorthi       Sakthivel
26      27             Rajendran       Sangeetha
27      28                Sarkar          Sarkar
28      29          Sundararajan         Senthil
29      30              Veeranan       Sivakumar
30      31          Ravichandran           Sonia
31      32               Ganesan       Srividhya
32      33            Loganathan        Subathra
33      34        Vijayaraghavan         Suganya
34      35                 Balan         Sumathi
35      36                Paleti           Surya
36      37            VASHISHTHA         VAIBHAV
37      38            Andavarapu       Venkatesh
38      39          Ramachandran       Venkatesh

                                  PAYPAL_NAME
0                        Samal, Arabinda(AWF)
1                 Ambalavanan, Arunagiri(AWF)
2                           V, Arunkumar(AWF)
3                        Jayavelu, Ashok(AWF)
4                          Kumar, Barath(AWF)
5                         Kumar, Dhinesh(AWF)
6                     Gnanaraj, Franklin(AWF)
7              Paneerselvam, Harishkumar(AWF)
8                       Kumari, Intimani(AWF)
9                   Suriaprakasam, James(AWF)
10                      kaliraj, kavitha(AWF)
11              sundararajan, Keerthisri(AWF)
12                    BV, Lakshmikantham(AWF)
13             Pamulapati, Mallikharjuna(AWF)
14                     Narahari, Manohar(AWF)
15                       Walia, Manpreet(AWF)
16                RAJASEKARAN, Meenakshi(AWF)
17                      Sajjath, Mohamed(AWF)
18   Thirugnanasambantham, Muthukrishnan(AWF)
19                       Gadi, Narasimha(AWF)
20                          Gaur, Nikhil(AWF)
21                    Ilangovan, Nivitha(AWF)
22                   AbdulMajeed, Noorul(AWF)
23                  Sounderrajan, Prabhu(AWF)
24               Kanniappan, RajeshKumar(AWF)
25              Vijayamoorthi, Sakthivel(AWF)
26                  Rajendran, Sangeetha(AWF)
27                        Sarkar, Sarkar(AWF)
28           Sundararajan, Senthil Kumar(AWF)
29                   Veeranan, Sivakumar(AWF)
30                   Ravichandran, Sonia(AWF)
31                    Ganesan, Srividhya(AWF)
32                  Loganathan, Subathra(AWF)
33               Vijayaraghavan, Suganya(AWF)
34                        Balan, Sumathi(AWF)
35                         Paleti, Surya(AWF)
36                   VASHISHTHA, VAIBHAV(AWF)
37                 Andavarapu, Venkatesh(AWF)
38               Ramachandran, Venkatesh(AWF)

In [4]:
type('vaibhav')

str