In [28]:
import sys
import cx_Oracle 
import pandas as pd
import datetime


#reload(sys)
#sys.setdefaultencoding('utf-8') 


file_name ='SampleFile1_ORG.csv'
Target_Table_name = 'vaibhav'
Mapping_name= 'Mapping.csv'


now = datetime.datetime.now()
Prepared_date=str(now.strftime("%Y%m%d"))+'0001'
#df_excel = pd.read_csv(file_name,keep_default_na=False)
#df_excel = pd.read_csv(file_name,keep_default_na=False,encoding='ISO-8859-1')
df_excel = pd.read_csv(file_name,keep_default_na=False,encoding='cp1252')
df_Mapping=pd.read_csv(Mapping_name)
df_excel['Extract_ID']=Prepared_date
df_excel['Row_Insert_TS']=now
df_excel['NaN']=float('NAN')
df_excel['Source_Row_Seq'] = range(1, 1+len(df_excel))
Excel_column_list=list(df_excel)
#Source_Column_Name=df_Mapping['Source_Column_Name'].tolist()
#Table_Column_Name=df_Mapping['Table_Column_Name'].tolist()
print(df_excel.loc[30111])

Case Number                             335413
Case Record Type              MyHR Closed Case
Requester Type                Candidate – Past
Extract_ID                        201903140001
Row_Insert_TS       2019-03-14 14:35:50.969113
NaN                                        NaN
Source_Row_Seq                           30112
Name: 30111, dtype: object

In [11]:
print(df_excel.loc[30111])

Case Number                             335413
Case Record Type              MyHR Closed Case
Requester Type                Candidate  Past
Extract_ID                        201903140001
Row_Insert_TS       2019-03-14 13:30:08.622748
NaN                                        NaN
Source_Row_Seq                           30112
Name: 30111, dtype: object